body, select, button, input {
	font-size: 40px;
}

input[type="number"] {
    height: 40px;
    width: 200px;
}

input[type="checkbox"] {
    height: 40px;
    width: 40px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

#randomResult {
    font-size: 160px;
}